<%= form_for(@student) do |f| %>
  <div id="form_errors">
    <% render partial: "/shared/form_errors", locals: { obj: @student, name: "student" } %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :roll_number %><br>
    <%= f.text_field :roll_number %>
  </div>
  <div class="field">
    <%= f.label :class_room %><br>
    <%= f.select :class_room_id, current_school_branch.class_rooms.collect { |p| [ p.full_name, p.id ] }, { include_blank: true }, class: "select2" %>
  </div>

  <div class="field">
    <%= f.label :year, "Year(In the format 2013-2014)" %><br>
    <%= f.text_field :year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
