<%= form_for(@student) do |f| %>
  <div id="form_errors">
    <% render partial: "/shared/form_errors", locals: { obj: @student, name: "student" } %>
  </div>

  <div class="field">
    <div class="inline-div">
      <%= f.label :name, required_span_with("Name") %>
      <%= f.text_field :name %>
    </div>
    <div class="inline-div">
      <%= f.label :roll_number, required_span_with("Roll number") %>
      <%= f.text_field :roll_number %>
    </div>
    <div class="inline-div">
      <%= f.label :class_room, required_span_with("Class Room") %>
      <%= f.select :class_room_id, current_school_branch.class_rooms.collect { |p| [ p.full_name, p.id ] }, { include_blank: true }, class: "select2" %>
    </div>
  </div>

  <div class="field">
    <div class="inline-div">
      <%= f.label :year, required_span_with("Year(In the format 2013-2014)") %>
      <%= f.text_field :year %>
    </div>
    <div class="inline-div">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="inline-div">
      <%= f.label :previous_school, "Previous school(if any)" %>
      <%= f.text_field :previous_school %>
    </div>
  </div>

  <div class="field">
    <div class="inline-div">
      <%= f.label :mother_name, "Mother's name" %>
      <%= f.text_field :mother_name %>
    </div>
    <div class="inline-div">
      <%= f.label :father_name, "Father's name" %>
      <%= f.text_field :father_name %>
    </div>
    <div class="inline-div">
      <%= f.label :address, "Address - present residence" %>
      <%= f.text_field :address %>
    </div>
  </div>

  <div class="field">
    <div class="inline-div">
      <%= f.label :mother_phone, "Mother's phone" %>
      <%= f.text_field :mother_phone %>
    </div>
    <div class="inline-div">
      <%= f.label :father_phone, "Father's phone" %>
      <%= f.text_field :father_phone %>
    </div>
  </div>
  <div class="field">
    <div class="inline-div">
      <%= f.label :other_info, "Any other informaton ?" %>
      <%= f.text_area :other_info %>
    </div>
  </div>

  <div class="actions inline-div">
    <%= f.submit %>
  </div>
<% end %>
