<%= form_for(@class_room) do |f| %>
  <div id="form_errors">
    <% render partial: "/shared/form_errors", locals: { obj: @class_room, name: "class room" } %>
  </div>

  <div class="field">
    <%= f.label :name, required_span_with("Name") %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
