
<p>
  <strong>Name:</strong>
  <%= @class_room.name %> |
  <strong>Grade:</strong>
  <%= @class_room.grade %> |
  <%= link_to "Pass/Fail Details", "javascript:void(0);", data:{ toggle: "modal", target: "#pass_fail_details_modalboxdal" } %>
</p>

<%= render partial: 'pass_fail_details_modalbox' %>

<%= link_to 'Edit', edit_class_room_path(@class_room) %> |
<%= link_to 'Back', class_rooms_path %>


<% if @class_room.has_test_results_for_current_year? %>
  <div id="inline-div" class="center-block">

    <div class="have-margin">
      <div class="absoulte-position">
        Class Room
        <strong>
          <%= @class_room.full_name %>
        </strong>
        Performance for the year: <strong><%= TimeExt.current_year %></strong>
      </div>
      <div id="chartcontainer1">
        Hey, howdy!. Is every thing all right with you?
        <%= barchart_for_class_room @class_room.id, "chartcontainer1" %>
      </div>
    </div>

    <div class="have-margin">
      <div class="absoulte-position">
        Class Room
        <strong>
          Subject Toppers
        </strong>
        for the year: <strong><%= TimeExt.current_year %></strong>
      </div>
      <div id="chartcontainer2">
        Hey, howdy!. Is every thing all right with you?
        <%= barchart_for_class_room_toppers_subjectwise @class_room.id, "chartcontainer2" %>
      </div>
    </div>
    <br>
    <div class="have-margin">
      <div class="absoulte-position">
        Class Room
        <strong>
          Tests Toppers
        </strong>
        for the year: <strong><%= TimeExt.current_year %></strong>
      </div>
      <div id="chartcontainer3">
        Hey, howdy!. Is every thing all right with you?
        <%= barchart_for_class_room_toppers_testwise @class_room.id, "chartcontainer3" %>
      </div>
    </div>

    <div class="have-margin">
      <div class="absoulte-position">
        Class Room
        <strong>
          Tests Lowest Scorers
        </strong>
        for the year: <strong><%= TimeExt.current_year %></strong>
      </div>
      <div id="chartcontainer4">
        Hey, howdy!. Is every thing all right with you?
        <%= barchart_for_class_room_lowest_scoreres_testwise @class_room.id, "chartcontainer4" %>
      </div>
    </div>


  </div>
<% end %>