<div class="center-block">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @class_room.name %>
  </p>
  <p>
    <strong>Grade:</strong>
    <%= @class_room.grade %>
  </p>

  <%= link_to 'Edit', edit_class_room_path(@class_room) %> |
  <%= link_to 'Back', class_rooms_path %>
</div>