<h5 class="green">Events for the day</h5>
<% if @events.count > 0 %>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Class Rooms(Event is for)</th>
        <th>Created by</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr id="event_row_<%= event.id %>">
          <td><%= event.title %></td>
          <td><%= event.start_time.strftime("%m-%d%Y %H:%M") %></td>
          <td><%= event.end_time.strftime("%m-%d%Y %H:%M") %></td>
          <td><%= event.event_for["names"] %></td>
          <td><%= event.creator.email %>, <%= event.creator_type.humanize %></td>
          <td><%= link_to("Delete Event", schedule_path(event), method: :delete, data: { remote: true, confirm: "Are you sure you want to delete this event?" } ) if event.can_delete? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="my-orange">
    No Events for the day. Why not <a href="javascript:void(0)" id="no_day_events_links">create one</a> :)
  </p>
  <script type="text/javascript">
    $("#no_day_events_links").click(function(){
      $("#list_day_schedules").modal("hide");
      $("#new_schedule_link").trigger("click");
    });
  </script>
<% end %>
