<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
 <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag("front-image-1.jpg") %>
      <div class="carousel-caption">
        <h3>Student Frinedly</h3>
        <p>Analyse and know diffcult subjects for each student</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("front-image-2.jpg") %>
      <div class="carousel-caption">
        <h3>Interesting For Everyone</h3>
        <p>Focus more on students subjects that  interests most.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("front-image-3.jpg") %>
      <div class="carousel-caption">
        <h3>Design</h3>
        <p>See the best performer for a test, class, or school</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("front-image-4.jpg") %>
      <div class="carousel-caption">
        <h3>Analyse</h3>
        <p>Analyse the students falling in the certain percentage categories.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("front-image-5.jpg") %>
      <div class="carousel-caption">
        <h3>Conclude</h3>
        <p>Analyse and evaluate the performance between different gropus, year on year basis etc. And MUCH MORE...</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
