<div class="center-block">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @subject.name %>
  </p>

  <p>
    <strong>School branch:</strong>
    <%= @subject.school_branch.name %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= @subject.creator.email %>, <%= @subject.creator_type.titleize %>
  </p>

  <%= link_to 'Edit', edit_subject_path(@subject) %> |
  <%= link_to 'Back', subjects_path %>
</div>