<h1>Listing Teachers</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>School Branch</th>
      <th>School Address</th>
      <th>School City</th>
      <th>School State</th>
      <th>School Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.email %></td>

        <% school_branch = teacher.school_branch %>
        <td><%= school_branch.name %></td>
        <td><%= school_branch.address %></td>
        <td><%= school_branch.city %></td>
        <td><%= school_branch.state %></td>
        <td><%= school_branch.zip %></td>

        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
