<%= form_for(@mock_test) do |f| %>
  <div id="form_errors">
    <% render partial: "/shared/form_errors", locals: { obj: @mock_test, name: "Test" } %>
  </div>

  <div class="inline-div">
    <%= f.label :name, required_span_with("Name") %>
    <%= f.text_field :name %>
  </div>
  <div class="inline-div">
    <%= f.label :class_room_id %>
    <%= f.select :class_room_id, @class_rooms_array, { include_blank: true }, class: "select2"  %>
  </div>
  <div class="inline-div width-5-percent">
    <%= f.label :publish %>
    <%= f.check_box :publish %>
  </div>
  <p></p>
  <div class="actions inline-div">
    <%= f.submit %>
  </div>
<% end %>
