<% @count += 1 %>

<div id="question_<%= @count %>">
  <hr >

  <p><strong>Question <%= @count %>:</strong></p>

  <div class="question-text">
    <%# byebug %>
    <%= label_tag "qestion_#{@count}", required_span_with("Question") %>
    <%= text_area_tag "qa[][#{@count}][question]", nil, id: "qestion_#{@count}"  %>
  </div>

  <div class="width-200 answer-type-<%= @count %>" data-count="<%=@count %>" >
    <%= label_tag "answer_type_#{@count}", required_span_with("Answer Type") %>
    <%= select_tag "answer_type", "<option val=""></option>".html_safe + options_for_select(QuesAndAns::ANSWER_TYPE.map.with_index { |p,i| [p, i] }), class: "select2 answer-type", data: { count: @count }, name: "qa[][#{@count}][answer_type]", id: "answer_type_#{@count}" %>
  </div>

  <div class="answer-choices answer-choices-<%= @count %>">
    <%#= answer_choices_for(f.object) %>
  </div>
</div>
<input type="hidden" class="last-count" val="<%= @count %>">