<h3>Listing Mock Tests</h3>

<%= render partial: '/shared/paginate_collection', locals: { records: @mock_tests } %>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subject</th>
      <th>Class room</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mock_tests.each do |mock_test| %>
      <tr>
        <td><%= mock_test.name %></td>
        <td><%= mock_test.subject.name %></td>
        <td><%= mock_test.class_room.full_name %></td>
        <td><%= mock_test.creator_type %>, <%= mock_test.creator.email %></td>
        <td><%= link_to 'Show', mock_test %></td>
        <td><%= link_to 'Edit', edit_mock_test_path(mock_test) %></td>
        <td><%= link_to 'Destroy', mock_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mock test', new_mock_test_path %>
