<h3>Listing Class Tests</h3>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_tests.each do |class_test| %>
      <tr>
        <td><%= class_test.name %></td>
        <td><%= link_to 'Show', class_test %></td>
        <td><%= link_to 'Edit', edit_class_test_path(class_test) %></td>
        <td><%= link_to 'Destroy', class_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class test', new_class_test_path %>
