<li><%= link_to "My Account", my_account_path %></li>
<li><%= link_to "Class Rooms", class_rooms_path %></li>
<li><%= link_to "Class Tests", class_tests_path %></li>
<li><%= link_to "Subjects", subjects_path %></li>
<li><%= link_to "Students", students_path %></li>
<li><%= link_to "Test Results", test_results_path %></li>
<li><%= link_to "Upload Test Results", uploaded_test_results_path %></li>
<li><%= link_to "Documents", documents_path %></li>
