<li><%= link_to "My Account", my_account_path %></li>
<li><%= link_to "Class Rooms", class_rooms_path %></li>
<li><%= link_to "Class Tests", class_tests_path %></li>
<li><%= link_to "Subjects", subjects_path %></li>
<li><%= link_to "Students", students_path %></li>
<li><%= link_to "Test Results", test_results_path %></li>

<li class="sub-menu">
  <div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><%= link_to "Upload Test Results", uploaded_test_results_path %></li>
      <li><%= link_to "Documents", documents_path %></li>
      <li><%= link_to "Schedules", schedules_path %></li>
      <li><%= link_to "Mock Tests", mock_tests_path %></li>
    </ul>
  </div>
</li>